html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 960%;
  font-size: 24px;
  overflow: hidden;
}
.parallax_menu {
  padding:20px;
  padding-right:30px;
  background: transparent;
  background-size: cover;
  font-family: sans-serif;
  z-index: 2;
  position: relative;
  color: #fff;
  height: 800px;
  transition: all 0.5s ease;
}

.nav-wrapper{
  position:fixed;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24252A;
  width:inherit;
  padding-right: 30px;
  z-index: 1;
}

.logo {
  float: left;
  width:40%;
}
.logo img{
  margin: 0;
  padding:0;
  float:left;
}
.split{
  width:50%
}

.main_menu {
  width: 50%;
  float: right;
  margin-right: 0;
  padding-right: 0;
  display: flex;
}

.main_menu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.main_menu ul li {
  float: left;
  width: 185px;
  height: 40px;
  opacity: 0.8;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  margin-right: 0;
  padding-right: 0;
  font-family: 'Ubuntu', sans-serif;
}

.main_menu ul li a {
  text-decoration: none;
  color: white;
  display: block;
}

ul li a:hover {
  background-color: green;
}

ul li ul li {
  display: none;
}

ul li:hover ul li {
  display: block;
}

.banner {
  float: right;
  width: 100%;
  padding: 0;
  text-align: center;
  padding-top: 500px;
}
.nav-wrapper button{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #edf0f1;
  padding:9px 25px;
  background-color: rgba(0,136,169,1);
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.nav-wrapper button:hover{
    background-color: rgba(0,136,169,0.8);
}

.sec1 {
  width: 100%;
  padding-top: 50px;
  padding-left: 5%;
  padding-bottom:50px ;
  background-color: tan;
  overflow: hidden;
  padding-bottom:50px ;
}

.parallax {
  padding: 100px 35px;
  background: transparent;
  width: 500px;
  height: 630px;
  float: right;
  border-radius: 50px;
  margin-right: 10%;
}

.about {
  width: 50%;
  float: left;
}

.products {
  width: auto;
}

.info {
  z-index: 2;
  position: relative;
  color: #fff;
}
.icons{
  padding-top: 100px;
  border-top: 50px;
  border-color: #ffffff
}
.icons img {
  height:75px;
  transition: height 2s;
}
.icons img :hover{
  height:85px;
}
.solar{
width: 25%;
float: left;
transition: height 2s;
}
.solar:hover{
  height:85px;
}

.icons_right{
  width:75%;
  float: right;
}
.energy{
  width: 50%;
  float: left;
}
.innovations{
  width:50%;
  float:right;
}

.sec2{
  width:100%;
}
.tpanel{
  background-color:#d16021;
  overflow: hidden;
  height:500px;
}
.tleft{
  width: 45%;
  height:450px;
  float: left;
  padding-left: 2%;
}
.tleft > h2 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.tleft ol{
  margin:0;
  padding:0;
  list-style-type: none;
  counter-reset:apples;
}

.tleft ol li::before{
  content: counter(apples);
  counter-increment:apples;
  color: #5dbf18;
  font-weight:bold;
  font-size:38px;
  margin-right: 10px;
}
.tright{
  width: 53%;
  float: right;
}
.engineer{
  background: transparent;
  width:100%;
  height:498px;
  float: right;
}

.bpanel{
background-color: #1586be;
}
.station{
  background: transparent;
  width:100%;
  height:460px;
  float: right;
}

.bright{
  width:100%;
  height:750px;
  padding-left: 3%;
  overflow:hidden;
}

.bright ol{
  margin:0;
  padding:0;
  list-style-type: none;
  counter-reset:apples;
}

.bright ol li::before{
  content: counter(apples);
  counter-increment:apples;
  color: #5dbf18;
  font-weight:bold;
  font-size:38px;
  margin-right: 10px;
  font-family: verdana;
}

.bright > h2 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  text-decoration: underline;
}
.partners{
  width:50%;
  height:749px;
  float:right;
  padding-top: 50px;
  background-color: #ffffff;
  margin-bottom: 250px;

}
.partners img {
  height:200px;
  width:300px;
}
.sidelist{
  width:50%;
  height:750px;
  float:left;
}

.clouds{
  background: transparent;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width:100%;
  height:600px;
  position: relative;
}

.clouds > p{
  z-index:2;
  position: absolute;
}
.clouds img{
  position: relative;
  z-index: 2;
  height: 250px;
  width: 300px;
  float: left;
}
.clouds right{
  width: 50%;
  float: right;
}
.clouds left {
  width:50%;
  float: left;
  z-index: 1;
  text-decoration-color: black;
  position: relative;
}
